@model CartViewModel
@{
    ViewBag.Title = "Корзина";
}

<section id="cart_items">
    <div class="container">
        <div class="breadcrumbs">
            <ol class="breadcrumb">
              <li><a href="#">Home</a></li>
              <li class="active">Shopping Корзина</li>
            </ol>
        </div>
        <div class="table-responsive cart_info">
            <table class="table table-condensed">
                <thead>
                    <tr class="cart_menu">
                        <td class="image">Товар</td>
                        <td class="description"></td>
                        <td class="price">Цена</td>
                        <td class="quantity">Кол-во.</td>
                        <td class="total">Итого</td>
                        <td></td>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var (product, quantity) in Model.Items)
                    {
                        <tr>
                            <td class="cart_product">
                                <a href=""><img src="~/images/shop/@product.ImageUrl" alt=""></a>
                            </td>
                            <td class="cart_description">
                                <h4><a href="">@product.Name</a></h4>
                                <p>Артикул: @product.Id.ToString("0000000")</p>
                            </td>
                            <td class="cart_price">
                                <p>@product.Price.ToString("C")</p>
                            </td>
                            <td class="cart_quantity">
                                <div class="cart_quantity_button">
                                    <a class="cart_quantity_up" asp-action="Add" asp-route-Id="@product.Id"> + </a>
                                    <input class="cart_quantity_input" type="text" name="quantity" value="@quantity" autocomplete="off" size="2">
                                    <a class="cart_quantity_down" asp-action="Decrement" asp-route-Id="@product.Id"> - </a>
                                </div>
                            </td>
                            <td class="cart_total">
                                <p class="cart_total_price">@(product.Price * quantity)</p>
                            </td>
                            <td class="cart_delete">
                                <a class="cart_quantity_delete" asp-action="Remove" asp-route-Id="@product.Id"><i class="fa fa-times"></i></a>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</section> <!--/#cart_items-->

<section id="do_action">
    <div class="container">
        <div class="heading">
            <h3>Что мы сделаем с этим дальше?</h3>
            <p>Выберите, есть ли у вас код скидки или бонусные баллы, которые вы хотите использовать или хотите сделать скуидку на доставку.</p>
        </div>
        <div class="row">
            <div class="col-sm-6">
                <div class="chose_area">
                    <ul class="user_option">
                        <li>
                            <input type="checkbox">
                            <label>Использовать промокод</label>
                        </li>
                        <li>
                            <input type="checkbox">
                            <label>Использовать сертификат</label>
                        </li>
                        <li>
                            <input type="checkbox">
                            <label>Рассчитать доставку и налоги</label>
                        </li>
                    </ul>
                    <ul class="user_info">
                        <li class="single_field">
                            <label>Страна:</label>
                            <select>
                                <option>США</option>
                                <option>Бангладеш</option>
                                <option>Англия</option>
                                <option>Индия</option>
                                <option>Пакистан</option>
                                <option>Россия</option>
                                <option>Канада</option>
                                <option>Дубаи</option>
                            </select>
                            
                        </li>
                        <li class="single_field">
                            <label>Область/штат:</label>
                            <select>
                                <option>Выберите</option>
                                <option>Дакка</option>
                                <option>Лондон</option>
                                <option>Диллих</option>
                                <option>Лахор</option>
                                <option>Аляска</option>
                                <option>Канада</option>
                                <option>Дубаи</option>
                            </select>
                        
                        </li>
                        <li class="single_field zip-field">
                            <label>Индакс:</label>
                            <input type="text">
                        </li>
                    </ul>
                    <a class="btn btn-default update" href="">Get Quotes</a>
                    <a class="btn btn-default check_out" href="">Продолжить</a>
                </div>
            </div>
            <div class="col-sm-6">
                <div class="total_area">
                    <ul>
                        <li>Стоимость доставки <span>Free</span></li>
                        <li>Итого <span>@Model.TotalPrice</span></li>
                    </ul>
                        <a class="btn btn-default update" href="">Обновить</a>
                        <a class="btn btn-default check_out" href="">Оформить заказ</a>
                </div>
            </div>
        </div>
    </div>
</section><!--/#do_action-->
