@using WebStore.Domain.Entities.Identity
@model WebStore.Domain.Entities.Employee

@{
    ViewData["Title"] = "Информация о сотруднике id:" + Model.Id;
    Layout = "_LayoutContainer";
}

<div>
    <h4>Сотрудник - @ViewBag.SelectedEmployee.FirstName</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Id)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Id)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.LastName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.LastName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FirstName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FirstName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Patronymic)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Patronymic)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Age)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Age)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Index">Назад к списку</a>
    @if (User.IsInRole(Role.Administrators))
    {
        <a asp-action="Edit" asp-route-id="@Model.Id" class="btn btn-default">
            <i class="fa fa-edit"></i> Ред.
        </a>
        <a asp-action="Delete" asp-route-id="@Model.Id" class="btn btn-danger">
            <i class="fa fa-trash-o"></i> Удал.
        </a>
    }
</div>