@model IEnumerable<WebStore.Models.Employee>

@{
    ViewData["Title"] = "Список сотрудников";
}

<div class="container">
    <h3>Сотрудники</h3>

    <table class="table">
        <thead>
        <tr>
            <th></th>
            <th>Id</th>
            <th>Фамилия</th>
            <th>Имя</th>
            <th>Отчество</th>
            <th>Возраст</th>
            <th></th>
        </tr>
        </thead>
        <tbody>
        @foreach (var employee in Model)
        {
            <tr>
                <td>
                    <a asp-action="Details" asp-route-Id="@employee.Id" asp-route-Info="123">
                        <i class="fa fa-info-circle"></i>
                    </a>
                    <a asp-action="Edit" asp-route-Id="@employee.Id" asp-route-Info="123">
                        <i class="fa fa-edit"></i>
                    </a>
                </td>
                <td>@employee.Id</td>
                <td>@employee.LastName</td>
                <td>@employee.FirstName</td>
                <td>@employee.Patronymic</td>
                <td>@employee.Age</td>
                <td>
                    <a asp-action="Delete" asp-route-Id="@employee.Id" asp-route-Info="123" class="text-danger">
                        <i class="fa fa-trash-o"></i>
                    </a>
                    <form asp-action="DeleteConfirmed" asp-route-id="@employee.Id">
                        <input type="submit" value="DD" class="btn btn-sm btn-danger"/>
                    </form>
                </td>
            </tr>
        }
        </tbody>
    </table>

    <hr/>

    <a asp-controller="Home" asp-action="Index">На главную</a>
</div>
