@using WebStore.Domain.Entities.Identity
@model IEnumerable<WebStore.Domain.Entities.Employee>

@{
    ViewData["Title"] = "Список сотрудников";
    Layout = "_LayoutContainer";
}

<h3>Сотрудники</h3>
    
@if (User.IsInRole(Role.Administrators))
{
    <a class="btn btn-default" asp-action="Edit">Создать</a> 
    <br/>
    <a class="btn btn-default" asp-action="Create">Создать2</a>
}

@if (Model.Any())
{
    <table class="table">
        <thead>
        <tr>
            <th></th>
            <th>@Html.DisplayNameFor(m => m.Id)</th>
            <th>@Html.DisplayNameFor(m => m.LastName)</th>
            <th>@Html.DisplayNameFor(m => m.FirstName)</th>
            <th>@Html.DisplayNameFor(m => m.Patronymic)</th>
            <th>@Html.DisplayNameFor(m => m.Age)</th>
            @if (User.IsInRole(Role.Administrators))
            {
                <th></th>
            }
        </tr>
        </thead>
        <tbody>
        @foreach (var employee in Model)
        {
            <tr>
                <td>
                    <a asp-action="Details" asp-route-Id="@employee.Id" asp-route-Info="123">
                        <i class="fa fa-info-circle"></i>
                    </a>
                    @if (User.IsInRole(Role.Administrators))
                    {
                        <a asp-action="Edit" asp-route-Id="@employee.Id" asp-route-Info="123">
                            <i class="fa fa-edit"></i>
                        </a>
                    }
                </td>
                <td>@employee.Id</td>
                <td>@employee.LastName</td>
                <td>@employee.FirstName</td>
                <td>@employee.Patronymic</td>
                <td>@employee.Age</td>
                @if (User.IsInRole(Role.Administrators))
                {
                    <td>
                        <a asp-action="Delete" asp-route-Id="@employee.Id" asp-route-Info="123" class="text-danger">
                            <i class="fa fa-trash-o"></i>
                        </a>
                        <form asp-action="DeleteConfirmed" asp-route-id="@employee.Id">
                            <input type="submit" value="DD" class="btn btn-sm btn-danger"/>
                        </form>
                    </td>
                }
            </tr>
        }
        </tbody>
    </table>
}
else
{
    <p>Сотрудников нет...</p>
}

<hr/>

<a asp-controller="Home" asp-action="Index">На главную</a>